# Tooling (Maven, Eclipse, IDEA) metadata
target
.project
.classpath
.settings
*.i??
.idea
# Files created outside target/ folder by builds
activemq-data
ServiceMixFlow.dot
ServiceMixComponents.dot
derby.log
bindings/servicemix-cxf-bc/data
