<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:sm="http://servicemix.org/config/1.0" 
	   xmlns:http="http://servicemix.org/http/1.0"
	   xmlns:test="http://test">

  <!-- the JBI container -->
  <sm:container id="jbi" embedded="true">
    <sm:activationSpecs>

      <!-- output using a POJO -->
      <sm:activationSpec>
      	<sm:component>
            <http:component>
            	<http:endpoints>
            		<http:endpoint service="test:MyConsumerService"
            					   endpoint="myConsumer"
            		               role="consumer" 
            		               locationURI="http://localhost:8192/Service/"
            		               defaultMep="http://www.w3.org/2004/08/wsdl/in-out" />
            		<http:endpoint service="test:MyProviderService"
            					   endpoint="myProvider"
            		               role="provider" 
            		               locationURI="http://localhost:8192/Service/" />
            	</http:endpoints>
            </http:component>
        </sm:component>
      </sm:activationSpec>
      
      <sm:activationSpec service="test:MyConsumerService" endpoint="myConsumer">
        <sm:component>
          <bean class="org.apache.servicemix.components.util.EchoComponent" />
        </sm:component>
      </sm:activationSpec>

    </sm:activationSpecs>
  </sm:container>

</beans>
