<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:sm="http://servicemix.apache.org/config/1.0" 
	   xmlns:jsr181="http://servicemix.apache.org/jsr181/1.0">

  <!-- the JBI container -->
  
  <!-- START SNIPPET: dot -->
  <sm:container id="jbi" embedded="true">
    <sm:listeners>
        <sm:dotViewEndpointListener file="target/ServiceMixComponents.dot"/>
    </sm:listeners>
    
    <sm:activationSpecs>
  <!-- END SNIPPET: dot -->

      <!-- START SNIPPET: lightweight -->  
      <sm:activationSpec>
      	<sm:component>
            <jsr181:component>
            	<jsr181:endpoints>
            		<jsr181:endpoint pojoClass="test.EchoService2"
  				   					 annotations="none" />
            	</jsr181:endpoints>
            </jsr181:component>
        </sm:component>
      </sm:activationSpec>
      <!-- END SNIPPET: lightweight -->  

    </sm:activationSpecs>
  </sm:container>

</beans>
